extends layout

block content  
  #content
    p
      | Witaj na stronie symulującej prostą strone typu "social media".
      | Strona jest drugim projektem na zajęcia z technik www 2022.
      | Możliwości strony: 
      | <br>- Rejestracja nowych użytkowników oraz logowanie istniejących
      | <br>- Wysyłanie zdjęć przez użytkowników 
      | <br>- Wyświetlanie zdjęć innych użytkowników 
      | <br>- Wyświetlanie listy istniejących użytkowników
      | Aby wyswietlić galerie obrazów innego użytkownika należy się zalogować.
      | W folderze projektu znajduje się folder "zdjecia_do_uploadu" w którym zamieściłem przykładowe zdjęcia na których można wytestować strone.
      | Oczywiście strona będzie działała też dla wszystkich innych rozszerzeń plików.
      | Aby z uploadować zdjęcie należy jako zalogowany użytkownik wejść na swój własny profil gdzie znaleźć można odpowiedni formularz.
      | <br>Dane logowania do przykładowego konta test: <br>  -username: test <br>   -password: test

    #painting-title
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper vestibulum lacus, vitae faucibus odio rhoncus sit amet. Donec vitae lobortis lacus. Aliquam et odio accumsan, tincidunt mauris pulvinar, efficitur tortor. Pellentesque molestie lacus in sem tincidunt lacinia. Praesent pellentesque libero tellus, quis tempor turpis tempus ut. Nunc a neque risus. Praesent venenatis, odio vitae malesuada elementum, leo odio molestie ligula, eu ultricies felis neque id eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus rutrum non dolor sed consectetur. Suspendisse sollicitudin metus a nulla lobortis, venenatis hendrerit risus ultrices.
      | Etiam nec nibh congue, hendrerit dolor quis, bibendum augue. Donec bibendum lacus sed erat malesuada, quis aliquam diam eleifend. Sed ac porta risus, eget fringilla mi. Suspendisse interdum eget ex ut elementum. Sed fringilla placerat cursus. Nam iaculis, sem a pretium sollicitudin, ligula urna dapibus enim, sed venenatis est sem nec dolor. Fusce et pharetra magna. Praesent augue nisl, euismod vitae pellentesque non, iaculis id risus. Donec at blandit velit. Nam eu erat condimentum, rhoncus odio vitae, dictum leo. Aliquam erat volutpat. Donec sollicitudin lorem nec mi consequat iaculis. Curabitur ut fringilla nunc. Vestibulum mattis nisi metus, vel fringilla erat fermentum vitae. Praesent id nulla eu lectus semper porttitor. Nulla molestie arcu nec sapien mollis feugiat id varius sapien.


block nav-buttons 
  a.active-link(href='/') Strona Glowna
  a(href='/listusers')  Uzytkownicy
  if username
    a(href='/user/'+username) #{username}
    a(href='/api/logout') wyloguj

  else
    a(href='/login')  zaloguj