doctype html
head
    title Strona
    meta(name='description' content='druga strona na technikach www')
    meta(charset='utf-8/')
    script(type='module' src=js)
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
  header
    h1.headerElement Logo
    nav.headerElement
      block nav-buttons
  block content
  block unauthorized
  footer 
  |@ 2022 Mateusz Dyszewski

