extends layout 

block unauthorized 
    h1 404
    p
    | Not found

block nav-buttons 
    a(href='/') Strona Glowna
    a(href='/galeria')  Galeria
    if username
        a.active-link(href='/user/'+username) #{username}
        a(href='/api/logout') wyloguj
    else
        a(href='/login')  zaloguj